* { box-sizing: border-box;}

body { 	font-family: Palatino, "Palatino Linotype"; font-size: 16px;	}

header, nav, main, footer 
{
		width: 100%;
	  max-width: 1280px;
	  margin-left: auto;
	  margin-right: auto;
}
h1, h2, h3, h4, h5, h6 
{
  font-family: 'Spectral SC', serif;
}
	header 
{
		background-color: #eee;
		padding-left: 10px;
  }
.hamburger { display: none;}

.navigation { list-style: none; padding-left: 0; }
.navigation li { display: block; }

@media only screen and (max-width: 37.5em) {
	.hamburger {display: block; position: absolute;top: 2.0rem;right: 1.25rem; }
    .navigation.responsive { position: relative; display: block; }
    .navigation.responsive li { background-color: #eee; display: block; width: 100%; margin: 2px 0; border: 1px solid #ddd; }
    .navigation.responsive li a {   padding: 1rem; text-align: center;  display: block; text-decoration:none; }
    .navigation.responsive li a:hover { background-color: #ddd; }
	  .navigation {display: none; }
}
	nav 
	{
		display: inline;		
	}
	nav button {}
	nav ul 	
{
		list-style-type: none;
		margin: 0;
		padding: 0;
}
	nav ul li { padding: 10px; float: left; display: block; }
	nav ul li a {}
	nav ul li.active a {}
	nav ul li a:hover {}
	main { padding: 3%;}
	main h2 
	{
		text-align: center;
	}
	main figure { margin: 0 0 .2rem 2%; width:96%; }
	main figure img { width: 100%; }

	section, article { width: 100%; }
.forecast 
{
	display: none;
}

	article p.town-article img {  
		width: 90%; /* fill the page in the small/phone view */
		margin: 3%;
	}
	.borderTable {
		display:none;
	}
	footer { padding: 3%; text-align: center;}
	footer aside {}
	footer>p {} /* This structure refers to p elements that are direct children of the footer element */
	.leftImg {
			float:left;
		}
		.rightImg {
			float:right;
		}
		.smallImg {
			width: 30%;
			max-width: 100px;
			padding: 10px;
		}
		.medImg {
			max-width: 90%;
			padding: 3%;
		}
		.current {
			width: 49%;
			display: block;
			position: relative;
			height: 100%;
		}
		.current h4 {
			font-size: 1.8em;
			float: left;
			display: inline;
			position: relative;
			width: 100%;
			line-height: 16px;
		}
		.current picture {
			float: right; 
			display: inline; 
			position: relative;
			width: 30%;
			margin-right: 20%;
		}
		h3, h1 {
			text-align: center;
		}
		h3 {
			font-size: 2.1em;
			font-weight:bold;
		}
		.borderTable {
			width: 100%;
			border-spacing: 0;
		}
		.borderTable tr {
			width: 100%;
		}
		.borderTable tr th {
			border-top: 1px solid black;
			border-left: 1px solid black;
			border-right: 1px solid black;
		}
		.borderTable tr td {
			border-bottom: 1px solid black;
			border-left: 1px solid black;
			border-right: 1px solid black;
			padding: 3px;
		}

form#report {
	margin: 3em 6%
}
fieldset {
	border-radius: .6em;
	margin: 1.8em 0;
	border: black solid 1.3px;
}
legend {
	margin-left: 3%;
	padding: .7em;
	border-radius: .5em;
}
label {
	display: block;
	margin: .7em;
}
label span {
	display: block;
	font-size: .9em;
	padding-top: .3em;
	padding-bottom: .4em;
}
input[type=radio], input.radio{
	float: left;
	clear: none;
	margin: -23px 0 0 -5px;
}
input.submitButton {
	-webkit-appearance: none;
	color:white
	border: solid 1px skyblue;
	border-radius: 3px;
	width: 25%;
	margin: .5em 0;
	font-size: 1.5em;
	padding: .2em;
	background-color:skyblue;
	box-shadow: 4px 4px 9px grey;
}
.clearFloats::after {
	content: "";
	clear: both;
	display: table;
}