 body
{
  width: 100%;
  height: 400px;
  background-image: 
      url("https://images.pexels.com/photos/265013/pexels-photo-265013.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb"), url("https://images.pexels.com/photos/265047/pexels-photo-265047.jpeg?h=350&dpr=2&auto=compress&cs=tinysrgb");
	background-size: 25%, 70%;
  background-repeat: no-repeat,
      no-repeat;
  background-position: center bottom,
			right top;
}